
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Marin Resolution Centre</title>
    <link rel="stylesheet" href="static/foundation.css" />
    <script src="js/vendor/modernizr.js"></script>
  </head>
  <body>
<style>
   /*<![CDATA[*/h1#title {padding: 0 0 0 100px; background: url(/@api/deki/files/327/bulk_actions.png) 0 0 no-repeat; min-height: 90px; line-height: 85px;} .mt-popular-topic-item {background: url(/@api/deki/files/349/most_popular.png) 0 0 no-repeat; padding: 0 0 0 75px; min-height: 65px; line-height: 65px;} .mt-articles-topic-item {background: url(/@api/deki/files/365/troubleshooting.png) 0 0 no-repeat; padding: 0 0 0 75px; min-height: 65px; line-height: 65px;}/*]]>*/
</style>
<div class="pages-popular">
   <ul class="user-guide-contents">
      <li>
         <div class="mt-popular-topic-item">Revenue Checks</div>
         <div class="mt-popular-subtopic-container">
            <ul>
               <li><a rel="custom nofollow" href="https://support.marinsoftware.com/en-us/Managing_Campaigns/Bulk_Actions/Troubleshooting_Articles%3A_Bulk_Actions/Troubleshooting_Failed_Bulk_Uploads">More than a 10% data discrepancy? 
</a></li>
               <li><a rel="custom nofollow" href="https://support.marinsoftware.com/en-us/Managing_Campaigns/Bulk_Actions/Troubleshooting_Articles%3A_Bulk_Actions">Are their ads live?</a></li>
               <li><a rel="custom nofollow" href="https://support.marinsoftware.com/en-us/Managing_Campaigns/Bulk_Actions/Troubleshooting_Articles%3A_Bulk_Actions/Frequently_Asked_Questions_About_Bulk_Uploading_URLs">Does attribution logic (DOC vs DOCL), conv window and last click match?
</a></li>
            </ul>
            <ul></ul>
         </div>
      </li>
   </ul>
   <br>
   If you have checked all these, please open a <a href="http://marinsoftware.force.com/web2case?e=test%40marinsoftware.com&n=internaluser&custId=12035&cid=55336&type=ent&lang=en">ticket</a> providing XYZ.
</div>
</body>
</html>
