
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Marin Resolution Centre</title>
    <link rel="stylesheet" href="static/foundation.css" />

  </head>
  <body>



      <div class="row">
        <div class="large-12 columns">
     
         
          <div class="row">
            <div class="large-12 columns">
     
              <nav class="top-bar" data-topbar>
                <ul class="title-area">
                   
                  <li class="name">
                    <h1>
                      <a href="#">
                        Marin Resolution Centre
                      </a>
                    </h1>
                  </li>
                  <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
                </ul>
             
                <section class="top-bar-section">
                   
                  <ul class="right">
                    <li class="divider"></li>
                    <li class="has-dropdown">
                      <a href="#">Diagnostics</a>
                      <ul class="dropdown">
                        <li><label>Tracking</label></li>
                        <li class="has-dropdown">
                          <a href="#" class="">Objects</a>
                          <ul class="dropdown">
                            <li><a href="#">Keywords</a></li>
                            <li><a href="#">Creatives</a></li>
                            <li><a href="#">Sitelinks</a></li>
                            <li><a href="#">Conversion Types</a></li>
                            <li><a href="#">Cross Client</a></li>
                            <li><a href="#">Dimensions</a></li>
                          </ul>
                        </li>
                        <li><a href="/decisiontree">Troubleshooting</a></li>
                        <li><a href="/gamap">Update GA Mapping</a></li>
                        <li class="divider"></li>
                        <li><label>Revenue</label></li>
                        <li><a href="#">File Uploads</a></li>
                        <li><a href="#">UTM check</a></li>
                        <li><a href="#">Malformed things</a></li>
                        <li class="divider"></li>
                        <li><a href="#">See all →</a></li>
                      </ul>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#">Training</a></li>
                    <li class="divider"></li>
                    <li class="has-dropdown">
                      <a href="#">Actions</a>
                      <ul class="dropdown">
                        <li><a href="#">Bulk Upload Keywords</a></li>
                        <li><a href="#">Upload Revenue</a></li>
                        <li><a href="#">Kick Off Bids</a></li>
                        <li class="divider"></li>
                        <li><a href="#">See all →</a></li>
                      </ul>
                    </li>
                  </ul>
                </section>
              </nav>
               
            </div>
          </div>
     
         
     
          <div class="row">
     
       
     
            <div class="large-4 small-12 columns">
     
              <img src="http://fe-blog-prod.s3-us-west-2.amazonaws.com/wp-content/uploads/2014/02/marinsoftware.jpg">
     
              <div class="hide-for-small panel">
                <h3>Marin Software</h3>
                <h5 class="subheader">Leader in Search, Display and Content. We're here to help. Please navigate the menus to the right so we can address your query in the best manner.
                </h5>
              </div>
     
              <a href="#">
              <div class="panel callout radius">
                <h6>Your Account Diagnostics:</h6>
		<img src="https://i.imgur.com/oNtJNeS.jpg" height="60" width="50">
		<br>
		<strong>Your account Manager is Valentin Palussiere</strong>
		<p>ID:1917</p>
			<ul>
				<li><strong>Last Revenue Upload:</strong></li>
				Attributed Rows 99%
				<li><strong>Tracking setup:</strong>
				You use Google Analytics, Marin Tracker
				<li><strong>URL diagnosis</strong></li>
				253 Keyword URLs do not have UTM parameters
			</ul>
              </div>

              </a>
     
            </div>
     
         
     
     
         
     
            <div class="large-8 columns">
              <div class="row">
     
                <div class="large-4 small-6 columns">
                 <a href="/revenue"> <img src="/static/nav-campaign_management.png"></a>
     
                  <div class="panel">
                    <h5>Campaign Mgmt</h5>
                    <h6 class="subheader"><a href="/errors">Errors</a>,<a href="/BulkUploads"> Bulk Uploads</a></h6>
                  </div>
                </div>
     
                <div class="large-4 small-6 columns">
                 <a href="/bids"> <img src="/static/nav-bidding.png"></a>
     
                  <div class="panel">
                    <h5>Bidding</h5>
                    <h6 class="subheader">Kick off, Calculation</h6>
                  </div>
                </div>
     
                <div class="large-4 small-6 columns">
                 
		<a href="/revenue"> <img src="/static/nav-marin_search.png"></a>
                   <div class="panel">
                    <h5>Marin Search</h5>
                    <h6 class="subheader">Search Campaigns</h6>
                  </div>
                </div>
     
                <div class="large-4 small-6 columns">
                 <a href="/revenue"> <img src="/static/nav-revenue_and_conversions.png"></a>
     
                  <div class="panel">
                    <h5>Data Issues</h5>
                    <h6 class="subheader">Discrepancies, Publisher Data</h6>
                  </div>
                </div>
     
                <div class="large-4 small-6 columns">
                 <a href="/revenue"> <img src="/static/nav-your_marin_account.png"></a>
     
                  <div class="panel">
                    <h5>Account</h5>
                    <h6 class="subheader">Access, Credentials, Users</h6>
                  </div>
                </div>
     
                <div class="large-4 small-6 columns">
                 <a href="/revenue"> <img src="/static/nav-reporting.png"></a>
     
                  <div class="panel">
                    <h5>Reporting</h5>
                    <h6 class="subheader">Inconsistencies, Requests</h6>
                  </div>
                </div>
              </div>
     
         
     
     
         
              <div class="row">
                <div class="large-12 columns">
                  <div class="panel">
                    <div class="row">
     
                      <div class="large-2 small-6 columns">
			 <img src="https://upload.wikimedia.org/wikipedia/commons/f/f0/Achtung.png" height="50" width="50">
                      </div>
     
                      <div class="large-10 small-6 columns">
			<strong>Alerts<hr/></strong>
			<strong>Your account</strong>
     			<p>Incident - Marin Tracker Revenue files delayed</p>
			<strong>All accounts</strong>
			<p>Incident - View Builder layout misaligned</p>
			<strong><u>Did you know?</u></strong>
			<br>
			Product Groups need UTM parameters in their URL for GA to track!
			<br>
			<p><strong><u>Open Cases:</u></strong>
			<br>
			00212121: UTM Parameters Need Appending</p>
                      </div>
     
                    </div>
                  </div>
                </div>
     
         
     
              </div>
            </div>
          </div>
     
     
         
     
          <footer class="row">
            <div class="large-12 columns"><hr/>
              <div class="row">
     
                <div class="large-6 columns">
                  <p>© Copyright Marin Software</p>
                </div>
     
                <div class="large-6 columns">
                	<ul class="inline-list right">
                	<li><a href="https://support.marinsoftware.com/">Help Centre</a></li>
                	<li><a href="http://marinsoftware.force.com/web2case?">Chat</a></li>
                	<li><a href="http://marinsoftware.force.com/web2case?">File Ticket</a></li>
			<li><a href="http://marinsoftware.force.com/web2case?">Phone</a></li>
			
                  </ul>
                </div>
     
              </div>
            </div>
          </footer>
     
         
     
        </div>
      </div>

  </body>
</html>

