<html>
   <body>
   
     <!-- <form action = "http://localhost:5000/csuppfb" method = "POST">
         <p>Client ID <input type = "text" name = "Client ID" /></p>
         <p>View ID <input type = "text" name = "View ID" /></p>
         <p>Goal Name <input type = "text" name = "Goal Name" /></p>
         <p>Conversion Type <input type ="text" name = "Conversion Type" /></p>
         <button type="submit" class="btn btn-default">Submit Button</button>

      </form>
      -->
      <form role="form" action="" method=post enctype=multipart/form-data>
			<div class="form-group">
			    <label>File input</label>
			    <input type="file" name='file'>
			</div>
			<div class="form-group">
			<br>
	     <button type="submit" class="btn btn-default">Submit Button</button>

   </body>
</html>